.columns {
  display: flex;
  gap: 50px;
}

.left-column {
  flex: 0 0 40%; /* fixed at 60% */
  padding: 10px;
  background-color: aqua;
  height: 500px;
  width: 500px;
}

.right-column {
  flex: 0 0 60%; /* fixed at 40% */
  padding: 10px;
  background-color: blue;
  height: 500px;
  width: 500px;
}
