.columns {
  display: flex;
  gap: 50px;
}

.left-column {
  width: 550px;  
  padding: 10px;
  height: 550px;
  font-size: 42px;
  line-height: 1.45;
  text-align: left;
  color: #36454f;                   
  font-family: "Söhne", "Inter", "Helvetica Neue", Arial, sans-serif;
  user-select: none;
  font-weight: 550;
}

.right-column {
  width: 700px;  
  padding: 10px;
  background-color: blue;
  height: 550px;
}
